@charset "utf-8";

section#conteudo{
	width: 1000px;
	margin: auto;
}
section#conteudo iframe#frame-spec{
	width: 400px;
	height: 300px;
	margin: auto;
	overflow: hidden;
	border: none;
}
section#conteudo img{ 
	margin: 0px;
}